body{
    background-color: whitesmoke;
    color: #536162;
    /* text-align: center; */

}
a{
    color: #536162;
    font-size: 30px;
}
mark{
    background-color: rgb(175, 238, 247);
}
.hello{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.mine{
    width: 200px;
    height: 200px;
    border-radius: 30%;
}
.hrs{
    background-color: rgb(116, 112, 112);
    /* padding: 1px; */
    /* margin: 5px; */
}
.work{
    color: #536162;
    
}
marquee{
    color: rgb(250, 164, 34);
    
}
.worked{
    color: coral;
}
/* h2 */
.small{
    font-variant:small-caps;
    color: rgb(85, 88, 88);
    font-size: 40px;
    letter-spacing: .30em;
    text-decoration:underline;

}
/* p */
.spac{
    word-spacing: 0.50em;
    text-transform: uppercase;
    /* text-transform: lowercase; */
}
.border{
    /* border-style:dashed; */
    
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(221, 137, 40);
}
.google{
    width: 200px;
    height: 200px;
    border-radius: 450%;
}
.display{
    display: flex;
    align-items: center;
    
}
.blue{
    color: rgb(88, 88, 189);
}
.red{
    color: rgb(153, 38, 38);
}
.yello{
    color: rgb(235, 190, 45);
}
.blue{
    color: rgb(102, 102, 197);
}
.green{
    color: rgb(39, 138, 39);
}
.red{
    color: rgb(167, 64, 64);
}
.font{
    font-size: 2em;
    flex: 1;
}
.fs{
    font-size: 1.5em;
}
.letter-space{
    word-spacing: 0.30em;
    letter-spacing: 2px;
}